.boton-facebook{
    background: blue;
    color: white;
    padding: 15px;
    margin: 10px;
}

.boton-twitter{
    background: rgb(101, 137, 220);
    color: white;
    padding: 15px;
    margin: 10px;
}
.boton-instagram{
    background: rgb(122, 31, 120);
    color: white;
    padding: 15px;
    margin: 10px;
}
.boton-linkedin{
    background: rgb(16, 16, 106);
    color: white;
    padding: 15px;
    margin: 10px;
}

/* 
.boton{
    color: rgb(181, 20, 20);
} */